guild.example.com {
	root * /srv
	encode zstd gzip
	try_files {path} /index.html

	handle /api/* {
		reverse_proxy api:3000
	}

	handle /ws* {
		reverse_proxy api:3000
	}

	handle /api/docs* {
		reverse_proxy api:3000
	}

	file_server
}
